
<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'base/icons/favicon.ico' %}">
    <title>www.Partee4Mee.pl</title>
    {% comment %} bootstrap link below {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">  
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar_bg bg-dark">
        {% comment %} <a class="navbar-brand text-white " href="{% url 'main' %}"><strong class="logo_underline">P</strong>artee<strong class="logo_underline">4</strong><span class="span_underline_logo"><strong class="logo_underline">M</strong><span class="logo_text_endwith">ee!</span></a> {% endcomment %}
        <a href="{% url 'main' %}" class="navbar-brand text-white"><img src="{% static 'logo_party4mee.png'%}" alt="" style="width:35px; height:35px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="width:auto"><p style="color:white; line-height:initial" class="text-center">Menu</p></span>
        </button>

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'main' %}">← Back <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'user_signed_up_events' %}">Your signing up</a>
                    {% comment %} to do url {% endcomment %}
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'add_event' %}">Add new event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item" id="user_name">
                    <a class="nav-link text-white">Welcome {{user}}</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="min_height_div">
        <div>
        {% comment %} draft {% endcomment %}
            <h2 class="text-center mb-2 mt-2 p-3">You've created {{user_party_advert|length }} adverts.</h2>
            <div class="container">
                <div class="row">
                    {% for user_advert in user_party_advert%}
                        <div class="col-1 col-md-2"></div>
                        <div class="col-10 col-md-8">
                            <div class="card bg-white text-center mb-4 p-2 shadow-lg rounded">
                                <p>There is a {{user_advert.party_type}} on <strong>{{user_advert.date}}</strong><br> {{user_advert.description}}   [{{user_advert.id}}] <br>  {{user_advert.city}}<br> free space: {{user_advert.free_space}}</p>
                                <div class="mb-2 text-center">
                                    <div class="row">
                                        <div class="col-3"></div>
                                        <a href="{% url 'edit_2' user_advert.id %}" class="btn btn-success col-3 mr-2">Edit</a>
                                        <a href="{% url 'delete_event' user_advert.id %}" class="btn btn-danger col-3">Delete</a>
                                        <div class="col-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-2"></div>
                    {% endfor %}


                </div>

            <!-- Test for signed events -->
<!--            <div>-->
<!--                {% for x in signed_up_events %}-->
<!--                    <p>{{ x }}</p>-->
<!--                {% endfor %}-->

<!--            </div>-->
            </div>
        </div>
        {% comment %} end draft  {% endcomment %}
    </div>














    <!-- Footer -->
    <div class="footer text-center p-1">
        <p>Partee4Mee &copy; All rights reserved.</p>
    </div>



    {% comment %} bootstrap links {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>